[submodule "lib/cadmium"]
	path = lib/cadmium
	url = https://github.com/jsoulier/cadmium
[submodule "lib/SDL"]
	path = lib/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "lib/geo_names"]
	path = lib/geo_names
	url = https://github.com/jsoulier/geo_names
[submodule "lib/vcpkg"]
	path = lib/vcpkg
	url = https://github.com/microsoft/vcpkg
[submodule "lib/mimalloc"]
	path = lib/mimalloc
	url = https://github.com/microsoft/mimalloc
