[submodule "lib/cadmium"]
	path = lib/cadmium
	url = https://github.com/jsoulier/cadmium
[submodule "lib/SDL"]
	path = lib/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "lib/vcpkg"]
	path = lib/vcpkg
	url = https://github.com/microsoft/vcpkg
[submodule "lib/mimalloc"]
	path = lib/mimalloc
	url = https://github.com/microsoft/mimalloc
[submodule "lib/geonames"]
	path = lib/geonames
	url = https://github.com/jsoulier/geonames
[submodule "lib/savepoint"]
	path = lib/savepoint
	url = https://github.com/jsoulier/savepoint
